<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cahpintar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CahPintar">
        <activity
            android:name=".Progress"
            android:exported="true" />
        <activity
            android:name=".Profil"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".SoalMenulisLv22"
            android:exported="true" />
        <activity
            android:name=".SoalMenulisLv21"
            android:exported="true" />
        <activity
            android:name=".SoalBerbicaraLv24"
            android:exported="true" />
        <activity
            android:name=".SoalBerbicaraLv23"
            android:exported="true" />
        <activity
            android:name=".SoalBerbicaraLv22"
            android:exported="true" />
        <activity
            android:name=".SoalBerbicaralvl21"
            android:exported="true" />
        <activity
            android:name=".SoalMembacalv24"
            android:exported="true" />
        <activity
            android:name=".SoalMembacaLv23"
            android:exported="true" />
        <activity
            android:name=".SoalMenulis13"
            android:exported="true" />
        <activity
            android:name=".SoalMenulis12"
            android:exported="true" />
        <activity
            android:name=".SoalMembaca13"
            android:exported="true" />
        <activity
            android:name=".SoalMembacaLv22"
            android:exported="true" />
        <activity
            android:name=".SoalBacaLv21"
            android:exported="true" />
        <activity
            android:name=".SoalMembaca"
            android:exported="true" />
        <activity
            android:name=".SoalBerbicara13"
            android:exported="true" />
        <activity
            android:name=".PengenalanAngka3"
            android:exported="true" />
        <activity
            android:name=".SoalBerbicara12"
            android:exported="true" />
        <activity
            android:name=".SoalMembaca12"
            android:exported="true" />
        <activity
            android:name=".SoalBerbicara"
            android:exported="true" />
        <activity
            android:name=".SoalMenulis"
            android:exported="true" />
        <activity
            android:name=".PengenalanHuruf"
            android:exported="true" />
        <activity
            android:name=".PengenalanAngka2"
            android:exported="true" />
        <activity
            android:name=".PengenalanAngka"
            android:exported="true" />
        <activity
            android:name=".MenuMenghitung"
            android:exported="true" />
        <activity
            android:name=".MenuMembaca"
            android:exported="true" />
        <activity
            android:name=".forgetPassword2"
            android:exported="true" />
        <activity
            android:name=".forgetPassword"
            android:exported="true" />
        <activity
            android:name=".register"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>